* {

}

body {
  background-color: beige;
  height: 100%;
}

.full-width-background {
   margin-left: -20px;
   margin-right: -20px;
   z-index: -10;
 }

 .fwb-black {
   background-color: black;
   z-index: -10;
 }

.red-box {
  background-color: red;
  padding: 50px 50px;
  margin: 70px;
  width: 100px;
  height: 100px;
  font-size: 50px;
  font-family: sans-serif;
  color: white;

}

h2 {
  font-size: 30px;
  margin: 25px;
  font-family: sans-serif;
  color: white;
  padding: 20px 50px;

}

#instructions {
  font-size: 25px;
  padding-left: 10px;
  margin: 20px;
  font-family: sans-serif;
  color: white;
}

p {
  font-size: 25px;
  font-family: sans-serif;
  color: white;
  padding-left: 100px;
  padding-bottom: 20px;
}

li {
  padding-left: 40px;
}
img {
  display: block-inline;
  margin: 30px;
  padding-left: 80px;
}

#list {
  padding: 60px;

}

button {
  border: none;
  padding: 10px 30px;
  background: black;
  color: white;
  border-radius: 3px;
  font-size: 16px;
  margin: 50px 50px 50px 50px;
  transition: 350ms all;
  cursor: pointer;
  float: right;
  position: ;
}

button:hover {
  background: purple;
}
